<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
  crossorigin="anonymous"
/>
<link
  href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap"
  rel="stylesheet"
/>
<link href="style.css" rel="stylesheet">
<link
  href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap"
  rel="stylesheet"
/>
<!-- START NAV -->

<nav id="navbar" class="nav">
  <ul class="nav-list">
    <li>
      <a href="#welcome-section">About</a>
    </li>
    <li>
      <a href="#projects">Work</a>
    </li>
    <li>
      <a href="#contact">Contact</a>
    </li>
  </ul>
</nav>

<!-- END NAV -->

<!-- START WELCOME SECTION -->

<section id="welcome-section" class="welcome-section">
  <h1>Hey I am Tao</h1>
  <p>a web programming beginner</p>
</section>

<!-- END WELCOME SECTION -->

<!-- START PROJECTS SECTION -->

<section id="projects" class="projects-section">
  <h2 class="projects-section-header">These are some of my projects</h2>
  <!-- imgaines dont have the access to the link, href does -->
  <div class="projects-grid">
    <a
      href="https://codepen.io/tautaus/full/dyOvPoR"
      target="_blank"
      class="project project-tile"
    >
      <img
        class="project-image"
        src="https://raw.githubusercontent.com/freeCodeCamp/cdn/master/build/testable-projects-fcc/images/tribute.jpg"
        alt="project"
      />
      <!-- Code objects below are "<" and "/>" -->
      <p class="project-title">
        <span class="code">&lt;</span>
        Tribute Page
        <span class="code">&#47;&gt;</span>
      </p>
    </a>
    <a
      href="https://codepen.io/tautaus/full/oNYZqrY"
      target="_blank"
      class="project project-tile"
    >
      <img
        class="project-image"
        src="https://blog.thomasnet.com/hs-fs/hubfs/shutterstock_774749455.jpg?width=600&name=shutterstock_774749455.jpg"
        alt="project"
      />
      <p class="project-title">
        <span class="code">&lt;</span>
        Product Landing Page &#129323
        <span class="code">&#47;&gt;</span>
      </p>
    </a>
    <a
      href="https://daxigua-three-xi.vercel.app/"
      target="_blank"
      class="project project-tile"
    >
      <img
        class="project-image"
        src="https://img.139y.com/m00/46/8e/a10bc0525a1477ab07b804cb42012425.jpg"
        alt="project"
      />
      <p class="project-title">
        <span class="code">&lt;</span>
        Synthesize watermelon (modified version)
        <span class="code">&#47;&gt;</span>
      </p>
    </a>
  </div>
  <a
    href="https://github.com/tautaus/"
    class="btn btn-show-all"
    target="_blank"
    >Show all in my github<i class="fas fa-chevron-right"></i
  ></a>
</section>

<!-- END PROJECTS SECTION -->

<!-- START CONTACT SECTION -->
<!-- the site might block the FB and email calls -->
<section id="contact" class="contact-section">
  <div class="contact-section-header">
    <h2>Let's work together!</h2>
    <p>I am open to all the ideas.</p>
  </div>
  <div class="contact-links">
    <a
      href="https://facebook.com/tao.sun.790"
      target="_blank"
      class="btn contact-details"
      ><i class="fab fa-facebook-square"></i> Facebook</a
    >
    <a
      id="profile-link"
      href="https://github.com/tautaus/"
      target="_blank"
      class="btn contact-details"
      ><i class="fab fa-github"></i> GitHub</a
    >
    <!-- mailto opens up the email app directly -->
    <a href="mailto:sunt9751@gmail.com" class="btn contact-details"
      ><i class="fas fa-at"></i> Send a mail</a
    >
    <a href="tel:555-555-5555" class="btn contact-details"
      ><i class="fas fa-mobile-alt"></i> Call me</a
    >
  </div>
</section>

<!-- END CONTACT SECTION -->

<!-- START FOOTER SECTION -->

<footer>
  <p>
    More features to be developed!
  </p>
</footer>

<!-- END FOOTER SECTION -->
